<html>
<head>
    <script type="text/javascript" src="scripts/vis.min.js"></script>
    <link href="scripts/vis.min.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        #mynetwork {
            width: 1024px;
            height: 768px;
            float: left;
        }
    </style>
    <style type="text/css">
        #dc-logs {
            width: 1024px;
            height: 1200px;
            vertical-align:top;
            float: left;
        }
    </style>
</head>
<body>
<h1>Topology Visualizer</h1>
<div id="mynetwork"></div>

<iframe id="dc-logs" src="scripts/dc-logs.htm"></iframe>

<script type="text/javascript">
    // create an array with nodes
    var nodes = new vis.DataSet([
%VERTICES%
    ]);

    // create an array with edges
    var edges = new vis.DataSet([
%EDGES%
    ]);

    // create a network
    var container = document.getElementById('mynetwork');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
        edges: {
            arrows: {
                to: {
                    enabled: true
                }
            }
        }
    };
    // initialize your network!
    var network = new vis.Network(container, data, options);

    // Start WebSocket to receive docker-compose logs 
    var ws = new WebSocket('ws://localhost:40510');
    ws.onopen = function () {
        console.log('Connected')
        ws.send('connected')
    };

    var div = document.getElementById('dc-logs');

    ws.onmessage = function (ev) {
        if (ev.data == "update") {
             div.contentWindow.location.reload();
             div.scrollTop = div.scrollHeight;
        }
    };
</script>
</body>
</html>
